@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.top-bar{
  padding: 4px;
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0px -8px 20px #444;
}

.top-bar-left{
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  align-items: center;
  width: clamp(400px,100%,60%);
  justify-content: space-between;
}

#menu-button{
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.user-info{
  gap: 5px;
  display: flex;
  align-items: center;
}

#deposit-button{
  border: none;
  color:#fff;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  height: min-content;
  font-family: inherit;
  background-color: #ff4646;
  text-shadow: 1px 1px 4px #222;
  box-shadow: 1px 1px 4px #8f8f8f;
}

.trading-content{
  width: 100%;
}

.trading-component{
  width: 95%;
  height: 50px;
  padding: 8px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: #3442;
}

.trading-info{
  gap:  10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trading-quotes{
  flex-grow: 1;
  min-width: 500px;
  background-color: #3562;
}

.trading-table{
  width: 300px;
  height: 100%;
  position: relative;
  background-color: #3222;
}

.trading-table::before{
  content: '';
  width: 2px;
  left: -6px;
  height: 100%;
  position: absolute;
  border-radius: 1px;
  background-color: #2224;
}